.titulo-secao {
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center;
  color: #4caf50; /* Cor verde para destacar os títulos das seções */
}

.carousel-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slide-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.slide-title {
  margin: 10px 0 5px;
  font-size: 1.2em;
  text-align: center;
  color: #333;
}

.evento-info {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: #666;
  margin: 5px 0;
}

.evento-info ion-icon {
  margin-right: 5px;
}

ion-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-slide img {
  cursor: pointer;
}


  #pesquisa{
    --background: white;
    color: black;
    --border-radius: 17px;   
  }


  h3{
    color: black;  
  }

  ion-content {
    --background: #f0f0f0; // Substitua pelo código de cor desejado
  }

  .barra{
    display: flex;
    justify-content: space-between;

  }

  