<ion-content class="ion-padding">
  <div class="register-container">
    <img src="assets/imagens/navia-logo.png" alt="Logo Navia" class="logo" />
    <h2>Crie sua conta</h2>
    <p>Insira os detalhes para começar!</p>

    <ion-item>
      <ion-label position="floating">Nome Completo</ion-label>
      <ion-input type="text" [(ngModel)]="nome" name="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número de Telefone</ion-label>
      <ion-input type="tel" [(ngModel)]="telefone" name="telefone" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha" name="senha" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Senha</ion-label>
      <ion-input type="password" [(ngModel)]="confirmarSenha" name="confirmarSenha" required></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" (click)="register()">Inscreva-se</ion-button>

    <p class="login-link">Já tem uma conta? <a (click)="goToLogin()">Faça login</a></p>
  </div>
</ion-content>
